<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upt.cti.shen">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shen">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"></meta-data>

        <activity
            android:name="services.MapLocation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Client" />
        <activity android:name="services.Service" />
        <activity android:name=".TaskActivity"/>
        <!--        <meta-data android:name="com.google.android.geo.API_KEY"-->
        <!--            android:value="@string/google_place_api"></meta-data>-->
        <receiver android:name="notifications.RouteLocation"/>
    </application>

</manifest>